@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  border: none; 
}

html, body {
  height: 100%;
  font-size: 16px; 
  min-width: 880px;
}

body {
  font-family: "Lato","Lucida Grande", "Helvetica neue", "Helvetica", "Verdana", "Arial", sans-serif;
  overflow: hidden;
  background-color: #7c7bad;
  background-image: -webkit-linear-gradient(top, #7c7bad, #f4fafe);
  background-image:    -moz-linear-gradient(top, #7c7bad, #f4fafe);
  background-image:     -ms-linear-gradient(top, #7c7bad, #f4fafe);
  background-image:      -o-linear-gradient(top, #7c7bad, #f4fafe);
  background-image:   linear-gradient(to bottom, #7c7bad, #f4fafe); 
  
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c7bad', endColorstr='#f4fafe',GradientType=0 );
  /*background-image: url(../img/fields5-blurred.png);*/
  background-repeat: repeat-x;
  background-attachment: fixed;
}

/* ------------ The Arrow ----------- */

.arrow-container {
  opacity: 0;
  position: absolute;
  left: 15%;
  top: 20%;
  margin: -68px 0px 0 0;
  width: 360px;
  height: 330px; 
  max-height: 50%;
}

img.arrow {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; 
}


/* ------------ The Main Content ----------- */

.main-shadow{
  position:absolute;
  left: 50%;
  top: 50%;
  opacity: 0;
  margin: 50px 0 0 -500px;
}
.main-shadow img{
  height: 135px;
  width: 890px;
}

.main {
  position: absolute;
  opacity: 0;
  top: 50%;
  left: 50%;
  margin: -140px 0 0 -200px;
  color: white;
  text-shadow: 0 1px 0 rgba(34, 52, 72, 0.2); 
  z-index: 10;
}

.main h1 {
  position: relative;
  padding-bottom: 5px;
  font-size: 64px;
  font-weight: 700; 
}

.main p{
  position: relative;
  font-size: 18px;
}

.main .strong {
  position: absolute;
  height: 18px;
  line-height: 22px;
  margin: 10px 0 0 7px;
  background: white;
  color: #aeb0cf;
  font-size: 18px;
  padding: 0px 4px 3px 3px;
  border-radius: 4px;
  text-shadow: none; 
  -webkit-box-shadow: 0 0 1px rgba(34, 52, 72, 0.2), 0 1px 0 rgba(34, 52, 72, 0.1);
     -moz-box-shadow: 0 0 1px rgba(34, 52, 72, 0.2), 0 1px 0 rgba(34, 52, 72, 0.1);
          box-shadow: 0 0 1px rgba(34, 52, 72, 0.2), 0 1px 0 rgba(34, 52, 72, 0.1);
}

.main h1 + p {
  margin-bottom: 15px;
  /*font-weight: 600; */
}

/* ------------ The Launch Content ----------- */

.main-shadow.launch{
  margin-top: 125px;
  margin-left: -700px;
}

.main-shadow.launch img{
  height: 135px;
  width:  1400px;
}

.main.launch{
  margin-top:  -140px;
  margin-left: -30px;
}

.launch h1{
  font-size: 100px;
}

.launch h2{
  font-size: 35px;
}

.launch p{
  font-size: 18px;
}

.launch p.social{
    margin-top:5px;
}

.main #software{
  color: #E2FFC7;
}

/* ------------ The Launch Slideshow ----------- */

.slideshow{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -126px;
    margin-left:-423px;
    height: 230px;
    width: 330px;
    background-color: #FFF;
    box-shadow: 0px 1px 3px rgba(36,25,80,0.5);
}

.slideshow .frame{
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    overflow: hidden;
    background-color: #FFF;
}

.slideshow .frame img{
    position: absolute;
    top: 0; right:0; bottom:0; left:0;
    cursor: pointer;
}

.slideshow .overlay{
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    box-shadow: inset 0px 0px 91px rgba(61, 43, 88, 0.25);
    pointer-events: none;
    cursor: pointer;
}
.slideshow .fog{
    position: absolute;
    left: 0;
    top: 0;
    width:100%;
    height:100%;
    background-color: rgba(133,127,182,0.1);
    pointer-events: none;
    cursor: pointer;
}

/* ------------ The Footer ----------- */

.footer {
  opacity: 0;
  position: absolute;
  margin-left: 5px;
  right: 25px;
  bottom: 25px;
  font-size: 12px;
  text-shadow: 0 0 3px rgba(255,255,255,0.5);
  color: #7c7bad; 
  z-index: 5;
}
.footer a {
  position: relative;
  color: #7c7bad;
  text-decoration: none;
}
.footer a:active {
    color: #314458; 
}
.footer li {
  display: inline;
  padding: 5px; 
}

/* ------------ The Header ----------- */

.header {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 32px;
  z-index: 50;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  background-color: #414141;
  background-image: -webkit-linear-gradient(top, #646060, #262626);
  background-image: -moz-linear-gradient(top, #646060, #262626);
  background-image: -ms-linear-gradient(top, #646060, #262626);
  background-image: -o-linear-gradient(top, #646060, #262626);
  background-image: linear-gradient(to bottom, #646060, #262626); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#646060', endColorstr='#262626',GradientType=0 );
}

.menu.signup {
  float: right;
  margin-top:0px;
  border-left: solid 1px rgba(0,0,0,0.5);
  background-color: #dc5f59; /*#df6b66;*/
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(38,0,56,0.5));
  background-image:    -moz-linear-gradient(top, rgba(0,0,0,0), rgba(38,0,56,0.5));
  background-image:     -ms-linear-gradient(top, rgba(0,0,0,0), rgba(38,0,56,0.5));
  background-image:      -o-linear-gradient(top, rgba(0,0,0,0), rgba(38,0,56,0.5));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#801e0038',GradientType=0 );
}
.menu.signup li {
  float: right; 
}
.menu.signup li:hover{
  background: rgba(255, 160, 128, 0.1);
  text-shadow: black 0px 0px 3px;
  color: white;
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4) inset;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4) inset;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4) inset; }

.menu {
  float: left;
  padding: 0;
  margin: 0;
  font-size: 13px;
}
.menu li {
  padding: 0;
  float: left;
  display: block;
  color: #eeeeee;
  vertical-align: top;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out; 
}
.menu li:hover{
  background: rgba(0, 0, 0, 0.2);
  text-shadow: black 0px 0px 3px;
  color: white;
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4) inset;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4) inset;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4) inset; 
}
.menu li .light {
  opacity: 0.5;
  padding: 0px 0px 0px 10px; 
}
.menu li a {
  display: block;
  padding: 5px 10px 7px;
  line-height: 20px;
  height: 20px;
  text-decoration: none;
  color: #eeeeee;
}

/* ------------ Signup Menu----------- */

.signup .dropdown-menu{
  background: #363535;
  border-radius:3px;
  left: auto;
  right: 10px;
  top: 40px;
  padding:20px;
  box-shadow: 0 0 10px rgba(23,2,36,0.5);
  z-index: 10000;
}

.signup .dropdown-menu input{
  background-color: #f1f7fc;
}

.signup .dropdown-menu .remember{
  display:inline-block;
  width: auto;
}

.signup .dropdown-menu button{
  float: right;
}

.signup .dropdown-menu .divider{
  background-color: rgba(0,0,0,0.2);
  border-color:rgba(255,255,255,0.1);
}
.signup .dropdown-menu emph{
  color: #A3A3FF;
}
.signup .dropdown-menu p{
  margin: 0;
}
.signup .dropdown-menu form{
  margin: 0;
}

/* ------------ Facebook and LinkedIn Hackery ----------- */

span.IN-widget{
  position:relative;
  bottom:-3px;
  margin-left:5px;
}
.fb_iframe_widget{
  display: block;
  width: 150px;
  height: 21px;
}

/* ------------ IE Hacks ----------- */

.ieOld .slideshow{
    background-color: #FFF;
    border: solid 1px;
    border-bottom: solid 2px;
    border-color: #A5A0B8;
    box-shadow: none;
}
.ieOld .slideshow .overlay{
  display:none;
}
.ieOld .slideshow .fog{
  background-color:transparent;
  background-image: url(../img/screenshots/overlay.png);
}
.ieOld .slideshow .frame img{
    display: none;
    opacity: 1;
}
.ieOld .footer a:hover {
  top: 0px;
  margin-top: 0px;
}
